<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  {% load static %}
  <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">

  <title>Joyeria Lendinez</title>

  {% load static %}
  <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">

  {% load static %}
  <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
  {% load static %}
  <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>

<body>
  <div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a href="{% url 'index' %}">
          {% load static %}
          <img src="{% static 'images/logo.png' %}" alt="Logo" href="{% url 'index' %}"></img>
        </a>
      </div>
      <div class="navbar-collapse collapse navbar-right">
        <ul class="nav navbar-nav">
          <li><a href="{% url 'index' %}">Pagina principal</a></li>
          <li><a href="{% url 'contact' %}">Contacto</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Catalogo <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="{% url 'watches' %}">Relojes</a></li>
              <li><a href="#">Anillos [En construccion]</a></li>
              <li><a href="#">Cadenas [En construccion]</a></li>
              <li><a href="#">Pendientes [En construccion]</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>


  {% block content %}{% endblock %}


  <div id="footerwrap">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <h4>Sobre Nosotros</h4>
          <div class="hline-w"></div>
          <p>Somos una familia que ha abierto dos joyerias por la zona de Jaen y ahora hemos decidido expandirnos por internet.</p>
        </div>
        <div class="col-lg-4">
          <h4>Redes Sociales</h4>
          <div class="hline-w"></div>
          <p>
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="https://www.instagram.com/joyerialendinez/"><i class="fa fa-instagram"></i></a>
          </p>
        </div>
        <div class="col-lg-4">
          <h4>¿Donde nos encontramos?</h4>
          <div class="hline-w"></div>
          <p>
            Calle Parras, 17, <br/>Valdepeñas de Jaén, Jaén<br/><br/> Calle Real, 6,<br/>Fuensanta de Martos, Jaén
          </p>
        </div>
      </div>
    </div>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  {% load static %}
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  {% load static %}
  <script src="{% static 'js/retina-1.1.0.js' %}"></script>
  {% load static %}
  <script src="{% static 'js/jquery.hoverdir.js' %}"></script>
  {% load static %}
  <script src="{% static 'js/jquery.hoverex.min.js' %}"></script>
  {% load static %}
  <script src="{% static 'js/jquery.prettyPhoto.js' %}"></script>
  {% load static %}
  <script src="{% static 'js/jquery.isotope.min.js' %}"></script>
  {% load static %}
  <script src="{% static 'js/custom.js' %}"></script>

  <script>
    (function($) {
      "use strict";
      var $container = $('.portfolio'),
        $items = $container.find('.portfolio-item'),
        portfolioLayout = 'fitRows';

      if ($container.hasClass('portfolio-centered')) {
        portfolioLayout = 'masonry';
      }

      $container.isotope({
        filter: '*',
        animationEngine: 'best-available',
        layoutMode: portfolioLayout,
        animationOptions: {
          duration: 750,
          easing: 'linear',
          queue: false
        },
        masonry: {}
      }, refreshWaypoints());

      function refreshWaypoints() {
        setTimeout(function() {}, 1000);
      }

      $('nav.portfolio-filter ul a').on('click', function() {
        var selector = $(this).attr('data-filter');
        $container.isotope({
          filter: selector
        }, refreshWaypoints());
        $('nav.portfolio-filter ul a').removeClass('active');
        $(this).addClass('active');
        return false;
      });

      function getColumnNumber() {
        var winWidth = $(window).width(),
          columnNumber = 1;

        if (winWidth > 1200) {
          columnNumber = 5;
        } else if (winWidth > 950) {
          columnNumber = 4;
        } else if (winWidth > 600) {
          columnNumber = 3;
        } else if (winWidth > 400) {
          columnNumber = 2;
        } else if (winWidth > 250) {
          columnNumber = 1;
        }
        return columnNumber;
      }

      function setColumns() {
        var winWidth = $(window).width(),
          columnNumber = getColumnNumber(),
          itemWidth = Math.floor(winWidth / columnNumber);

        $container.find('.portfolio-item').each(function() {
          $(this).css({
            width: itemWidth + 'px'
          });
        });
      }

      function setPortfolio() {
        setColumns();
        $container.isotope('reLayout');
      }

      $container.imagesLoaded(function() {
        setPortfolio();
      });

      $(window).on('resize', function() {
        setPortfolio();
      });
    })(jQuery);
  </script>
</body>
</html>
