
{% extends "basisHtml.html" %}

{% block content %}

<div id="headerwrap">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <h3>Productos de alta calidad</h3>
        <h1>Joyeria Lendinez.</h1>
        <h5>Una simple pero efectiva forma de chulearte de tus respectivos seres queridos.</h5>
        <h5>¿A que esperas para ser el mas "fashion" de tu grupo?</h5>
      </div>
    </div>
  </div>
</div>

<div id="service">
  <div class="container">
    <div class="row centered">
      <div class="col-md-4">
        <i class="fa fa-heart-o"></i>
        <h4>Hecho con amor</h4>
        <p>Todos nuestros productos son cuidados hasta el punto de que los consideramos como propios hijos de una calidad indudable.</p>
      </div>
      <div class="col-md-4">
        <i class="fa fa-flask"></i>
        <h4>Pioneros en reparacion</h4>
        <p>No solo vendemos calidad ademas arreglamos, hacemos apaños y grabamos todo lo grabable.</p>
      </div>
      <div class="col-md-4">
        <i class="fa fa-trophy"></i>
        <h4>Campeones</h4>
        <p>No es que venga mucho a cuento pero en nuestro pueblo ha estado hasta la vuelta ciclista asi que ¿eh? ¿eh? ¿a que mola?</p>
      </div>
    </div>
  </div>
</div>

{% endblock %}
